services:
  cadvisor:
    platform: linux/amd64
    restart: on-failure:3
    pull_policy: missing
    environment:
      TZ: Europe/Berlin
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    hostname: cadvisor
    ports:
      - 30110:8080/tcp
    privileged: true
    command:
      - '-enable_metrics=advtcp,app,cpu,cpuLoad,cpu_topology,cpuset,disk,diskIO,hugetlb,memory,memory_numa,network,oom_event,percpu,perf_event,process,resctrl,sched,tcp,udp'
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro